.header{
    background-color: #d1cfcf;
    .div_header{
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        max-width: calc(100% - 30px);
        .div_logo{
            > img{
                width: 120px;
            }
        }
    }
}